@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --foundation-gray-100: #fafafa;
    --foundation-gray-200: #f5f5f5;
    --foundation-gray-300: #e0e0e0;
    --foundation-gray-400: #2f2e30;
    --foundation-red-100: #ffe5e5;
    --foundation-red-200: #fbbebe;
    --foundation-red-300: #f28a8a;
    --foundation-red-400: #e85c5c;
    --foundation-red-500: #db4444; /* primary */
    --foundation-red-600: #c73c3c;
    --foundation-red-700: #a93030;
    --foundation-red-800: #8b2727;
    --foundation-red-900: #701e1e;
    --foundation-orange-500: #ffad33;
  }
}

body {
  color: var(--foreground);
  font-family: "Plus Jakarta Sans", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
